<<<<<<< HEAD
h1 {

    color: purple;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.0rem;
}

p{
    color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.9rem;

}
=======
h1 {

    color: purple;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.0rem;
}

p{
    color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.9rem;

}
>>>>>>> 289456faf0972ef813a2aa4c9387a48049d046ca
