<<<<<<< HEAD
body {
    background-color: bisque;
}

p{
    color: rgb(0, 0, 0);
}

div > p{
    color: red;
}

div > span{
    color: brown;

=======
body {
    background-color: bisque;
}

p{
    color: rgb(0, 0, 0);
}

div > p{
    color: red;
}

div > span{
    color: brown;

>>>>>>> 289456faf0972ef813a2aa4c9387a48049d046ca
}